

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}



main {
  width: 1140px;
  margin: auto;
}



.black-text {
  color: #252432;
  font-weight: bold;
}

.light-gray {
  color: #8987A1;
}

.light-gray-2 {
  color: #8987A1;
  font-size: 22px;
}

.orange-text {
  color: #E95A08;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-item {
  list-style: none;
  display: flex;
  gap: 48px;
  align-items: center;
}

.li-item a {
  text-decoration: none;
}



.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: auto;
}

.banner-title {
  max-width: 570px;
}



.hero-text {
  font-family: "Noto Serif";
  font-size: 65px;
  font-weight: bold;
}

.hero-text-2 {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}



.secondary-bg {
  text-align: center;
}

.secondary-bg p {
  max-width: 888px;
  margin: auto;
}



.flower-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.flower-cart .card {
  text-align: center;
  padding: 10px;
}

.flower-cart .card img {
  width: 100%;
  display: block;
}

.flower-cart .card h4 {
  margin: 5px 0;
}

.flower-cart .card p {
  font-weight: bold;
}

.flower-cart .card button {
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
}


.featured-lover {
  max-width: 1140px;
  margin: 80px auto;
}

.featured-cont {
  display: flex;
  gap: 20px;
  align-items: center;
}

.featured-img-container {
  position: relative;
}

.featured-img-container img {
  width: 100%;
}



#flwr-badge {
  position: absolute;
  top: -80px;
  right: -80px;
  width: 286px;
}


.featured-text {
  max-width: 540px;
}

.featured-text ul {
  padding-left: 20px;
}

.featured-text li {
  margin-bottom: 10px;
}


.ldc-main {
  text-align: center;
  margin-top: 60px;
}


.offers {
  display: flex;
  gap: 20px;
}


.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.offer-card {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  width: 367px;
}


.offer-card.big {
  width: 753px;
}


.offer-card img {
  width: 100%;
  display: block;
  border-radius: 14px;
}


.offer-card .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.offer-card .text span{
     font-family: sans-serif;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}
.offer-card.big .text p {
    font-size: 40px;
    font-weight: bold;
    max-width: 498px;
    margin: 0 auto;
}
.offer-card.big .text span{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 28px;
    font-weight: 600;
    display: block;
    margin-top: auto;
}


.newsletter {
  width: 100%;
  background-image: url('./B12A02-Responsive-Flowers/assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 30px;   
  text-align: center;
  position: relative;
  color: white;
  margin-top: 100px;
  display: flex;
}

.newsletter-content {
   
  max-width: 600px;  
  margin: 0 auto;
  padding: 0 16px;    
}

.newsletter-content h2 {
  font-size: 40px;
  margin-bottom: 16px;
}


.newsletter-form {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  
}

.newsletter-form input {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  
  width: 644px;
  max-width: 100%;
}

.newsletter-form button {
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;

  cursor: pointer;
  white-space: nowrap;
}

.input-btn-wrapper {
  display: flex;
  width: 100%;
  max-width: 600px; 
 
  overflow: hidden;
}

.input-btn-wrapper input {
  flex: 1;
  
  border: none;
  outline: none;
  font-size: 16px;
}

.input-btn-wrapper button {
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}



.footer {
  margin-top: 50px;
  padding: 50px 160px;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}


.footer-left {
  max-width: 250px;
  color: #8987A1;
  font-size: 22px;
}

.footer-left img {
  width: 120px;
  margin-bottom: 10px;
}


.footer-links {
  display: flex;
  gap: 200px;
}

.footer-links .column p {
  margin: 6px 0;
  color: #8987A1;
  
}


.footer-icons {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.footer-icons img {
  width: 24px;
  height: 24px;
}  
.column{
    display: flex;
    flex-direction: column;
    gap: 32px;
}




@media screen and (max-width: 576px) {

  
  main {
    width: 100%;
    padding: 0 16px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

 
  .navbar {
    padding: 0 16px;
  }

  .RES-HIDE {
    display: none; 
  }

  .li-item {
    gap: 0;
  }

 
  .banner-content {
    flex-direction: column-reverse;  
    width: 100%;
    padding: 0 16px;
    text-align: left;
  }
  .banner-content p ,
  .secondary-bg p ,
  .featured-text li ,
  .ldc-main p ,
  .footer-left p {
    font-size: 14px;
  }

  .hero-text {
    font-size: 32px;
  }

  .light-gray-2 {
    font-size: 16px;
  }

  
  .secondary-bg {
    padding: 20px 0;
  }
  

  .flower-cart {
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  }

  
  .flower-cart .card:nth-child(7),
  .flower-cart .card:nth-child(8) {
    display: none;
  }

  
  .featured-cont {
    flex-direction: column;
    gap: 20px;
  }

  #flwr-badge {
    display: none;  
  }

  .featured-text {
    text-align: left;
  }

  .hero-text-2 {
    font-size: 28px;
  }

  .offers {
    flex-direction: column;   
    gap: 16px;
  }

  .offer-card.big ,
  .offer-card ,
  .left {
    width: 100%;  
  }


  .offer-card .text p {
    font-size: 20px;
    font-weight: bold;
  }

  .offer-card .text span {
    font-size: 16px;
  }
.offer-card.big .text p{
    font-size: 20px;
    font-weight: bold;
    max-width: 100%;
}
.offer-card.big .text span{
    font-size: 16px;
}  
.newsletter {
    padding: 60px 0;
  }

  .newsletter-content h2 {
    font-size: 28px;
  }

  .newsletter-content p {
    font-size: 16px;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .newsletter-form input{
    width: 218px;
    max-width: 300px;
  }
  .newsletter-form button {
    width: 103px;
    max-width: 300px;
  }
  .input-btn-wrapper{
    flex-direction: row;
    width: 303px;
    max-width: 100%;
  }
  .input-btn-wrapper button{
    font-size: 14px;
    padding: 10px 12px;
  }
  .input-btn-wrapper input{
    font-size: 14px;
    padding: 10px 16px;
  }
  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 24px;
  }

  .footer-left {
    max-width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .column {
    gap: 16px;
  }

  .footer-icons {
    justify-content: flex-start;
  }
}